{% load static %}
<header class="header">
    <div class="container-img"><img src="{% static 'global/img/naya.png'%}" width="100"></div>
    <div class="container-head">
        <div class="logo">Naya <span>Personalizados</span></div>
        <div class="container-menu">   
            <nav class="menu">
                <ul class="menu-list">
                    <li class="menu-item">
                        <a href="{% url "naya_site:index" %}" class="menu-link">
                            Home
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="menu-item">
                            <a href="#products" class="menu-link">
                                Produtos
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#galery" class="menu-link">
                                Galeria
                            </a>
                        </li>
                        {% if user.is_staff %}
                            <li class="menu-item">
                            <a href="{% url "naya_site:stock" %}" class="menu-link">
                                Estoque
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="menu-link">
                                Fornecedores
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="menu-link">
                                Clientes
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="menu-link">
                                Relatórios
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="menu-link">
                                Logs
                            </a>                        
                        {% endif %}
                        <li class="menu-item">
                            <a href="{% url "naya_site:perfil" %}" class="menu-link">
                                Perfil
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="{% url "naya_site:logout" %}" class="menu-link">
                                Logout
                            </a>
                        </li>
                    {% else %}
                    <li class="menu-item">
                        <a href="{% url "naya_site:login" %}" class="menu-link">
                            Login
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url "naya_site:register" %}" class="menu-link">
                            Register
                        </a>
                    {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>