header {
    display: flex;
    background-color: var(--branco);
    padding: 10px 0 10px 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: flex;
    top: 0;
    z-index: 100;
    align-items: flex-start;
}

.container-img {
    display: block;
    max-width: 100%;
    height: 100px;
}

.container-head{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 80%;
}

.container-logomenu {
    display: flex;
    min-width: 250px;
}

.logo {
    width: 50%;
}

.logo span {
    color: var(--coral);
}

.container-menu-bar {
    display: flex;
    justify-content:right;
    align-items: center; 
    width: 50%;
    padding-right: 55px;
}

.menu{
    display: flex;
    align-self: center;
}

.menu-list {
    list-style: none;
    display: flex;
}

.menu ul li a {
    display: block;
    padding: 0.5rem;
    color: var(--cinza-escuro);
    text-decoration: none;
    transition: background-color var(--transition-fast) ease-in-out;
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0.1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--coral);
    transition: all var(--transition-fast) ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}